form,
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* margin: 5px; */
  padding: 10px;
}
form {
  border: 2px solid rgb(253, 240, 53);
  margin: 50px;
}
